:root {
  --vp-home-hero-name-color: #192fd6;
  --vp-c-brand: #2ec0f9;
  --vp-c-brand-dark: #1689db;
  --vp-c-brand-darker: #192fd6;
  --vp-c-brand-light: #67aaf9;
  --vp-c-brand-lightest: #c4e0f9;
}

.VPHero .VPImage.image-src {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1.5, 1.5);
}
