:root {
  --vp-home-hero-name-color: #1867c0;
  --vp-c-brand: #1697f6;
  --vp-c-brand-dark: #1689db;
  --vp-c-brand-darker: #1867c0;
  --vp-c-brand-light: #7bc6ff;
  --vp-c-brand-lightest: #aeddff;
}

.VPHero .VPImage.image-src {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1.5, 1.5);
}
