*.log
.DS_Store
node_modules
/lib
/coverage
/node_modules
/.nyc_output
/.vscode
/_stockageTemp
/tests/_temp

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
