*.log
.DS_Store
node_modules
/dist
/.coverage
/node_modules
/.nyc_output
/.vscode
/_stockageTemp
/src/utilsTests/_tempo

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

docu/src/.vitepress/dist
docu/src/.vitepress/cache
