name: Tests IPA
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'docu/**'
  pull_request:
    branches:
      - main
    paths-ignore:
        - '**.md'
        - 'docu/**'
concurrency:
  group: tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-ipa-nodejs:
    name: IPA sur Node.js
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      
      - name: Ouvrir la branche
        uses: actions/checkout@v4

      - name: Installer pnpm
        uses: pnpm/action-setup@v3
        with:
          version: latest

      - name: Préparation de Node.js
        uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: 'pnpm'

      - name: Installer
        run: pnpm install

      - name: Installer playwright
        run: npx playwright install

      - name: Vérifier les tests
        run: pnpm test:node

      - name: Envoyer couverure à Codecov
        uses: codecov/codecov-action@v4
  
  test-ipa-navig:
    name: IPA sur le navigateur
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      
      - name: Ouvrir la branche
        uses: actions/checkout@v4

      - name: Installer pnpm
        uses: pnpm/action-setup@v3
        with:
          version: latest

      - name: Préparation de Node.js
        uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: 'pnpm'

      - name: Installer
        run: pnpm install

      - name: Installer playwright
        run: npx playwright install

      - name: Vérifier les tests
        run: pnpm test:navig

      - name: Envoyer couverure à Codecov
        uses: codecov/codecov-action@v4

  test-ipa-electron-principal:
    name: IPA sur Électron principal
    needs: test-ipa-nodejs
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      
      - name: Ouvrir la branche
        uses: actions/checkout@v4

      - name: Installer pnpm
        uses: pnpm/action-setup@v3
        with:
          version: latest

      - name: Préparation de Node.js
        uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: 'pnpm'

      - name: Installer
        run: pnpm install

      - name: Installer playwright
        run: npx playwright install

      - name: Vérifier les tests
        # De cawa-93/vite-electron-builder
        run: xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" -- pnpm run test:électron-principal
        if: matrix.os == 'ubuntu-latest'

      - run: pnpm run test:électron-principal
        if: matrix.os != 'ubuntu-latest'

      - name: Envoyer couverure à Codecov
        uses: codecov/codecov-action@v4
